@media only screen and (max-width: 975px) {
    .login-container { flex-direction: column; }

    .login-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 35px;
    }

    .login-container .login-header p {
        width: 80%;
        text-align: center;
    }
}

@media only screen and (device-aspect-ratio: 40/71) {
    .login-container .login-header p { display: none; }
}